@model JobPortalApplication.Models.JobDetailsDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobDetailsDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacancyNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacancyNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferedSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferedSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeadLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherSpecification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherSpecification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobWorkDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobWorkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerDetails.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobCategory.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
