@model IEnumerable<JobPortalApplication.Models.JobDetailsDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacancyNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferedSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherSpecification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobWorkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacancyNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferedSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherSpecification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobWorkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerDetails.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
