@model JobPortalApplication.ViewModel.DashboardViewModel;
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-home"></i>
        </span> Dashboard
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Total Employer <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@Model.TotalEmployer</h2>
                <h6 class="card-text"></h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Total Vacancy Added <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@Model.TotalJobPost</h2>
                <h6 class="card-text"></h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Monthly Job Post <i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@Model.MonthlyJobPost</h2>
                <h6 class="card-text"></h6>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recent Vacancy</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Vacancy No </th>
                                <th> Title </th>
                                <th> Description </th>
                                <th> Comapnay </th>
                                <th> Type </th>
                                <th> DeadLine </th>
                                <th> Location </th>
                                <th> Salary </th>
                                <th> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(@Model.JobVacancyList!=null){
                            foreach (var item in Model.JobVacancyList)
                            {
                                <tr>
                                    <td>
                                        @item.VacancyNo
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.Company
                                    </td>
                                    <td>
                                        @item.Type
                                    </td>
                                    <td>
                                        @item.DeadLine.ToString("MMM dd, yyyy")  <!-- Formatting the DeadLine -->
                                    </td>
                                    <td>
                                        @item.Location
                                    </td>
                                    <td>
                                        @item.Salary.ToString("C")  <!-- Formatting salary as currency -->
                                    </td>
                                    <td>
                                        <label class="badge @((item.Status == "Open") ? "badge-gradient-success" : "badge-gradient-danger")">
                                            @item.Status
                                        </label>
                                    </td>
                                </tr>
                            }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
